@import "tailwindcss" source(".");

@theme {
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
	@apply bg-white dark:bg-gray-950;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

@media print {
	pre {
		overflow: visible !important;
		white-space: pre-wrap !important;
		word-break: break-word !important;
		max-height: none !important;
	}
}
